<div class="container__product-detail container d-flex flex-column flex-grow-1">
  <div class="section__up d-flex flex-row">
    <div class="img__product d-flex flex-row justify-content-around">
      <div class="left__img__product">
        <div>
          <img
            src="../../assets/img/item.jpg"
            alt=""
            [src]="subImg_0"
            (click)="changeImg($event)"
          />
        </div>
        <div>
          <img
            src="../../assets/img/discovery_1.jpg"
            alt=""
            [src]="subImg_1"
            (click)="changeImg($event)"
          />
        </div>
        <div>
          <img
            src="../../assets/img/discovery_2.jpg"
            alt=""
            [src]="subImg_2"
            (click)="changeImg($event)"
          />
        </div>
      </div>

      <div class="right__img__product">
        <img src="../../assets/img/item.jpg" alt="" [src]="mainImg" />
      </div>
    </div>

    <div class="right__content d-flex flex-column flex-grow-1">
      <div class="product__order">
        <p class="product__name">Lap top..</p>
        <span class="product__price">$190.00</span>
        <div class="select__size">
          <p>
            Select size: <span>{{ productDetail.size }}</span>
          </p>
          <div class="all__size d-flex flex-wrap">
            <div *ngFor="let item of product.size">
              <input
                type="checkbox"
                class="btn-check"
                [id]="'btn-check-2-outlined' + item"
                [checked]="
                  'btn-check-2-outlined' + item ===
                  'btn-check-2-outlined' + productDetail.size
                "
                autocomplete="off"
                (click)="changeSize($event, item)"
              />
              <label
                class="btn btn-outline-primary"
                [htmlFor]="'btn-check-2-outlined' + item"
                >{{ item }}
              </label>
            </div>
          </div>

          <div class="select__quantity d-flex align-items-center">
            <p>Select quantity:</p>
            <div class="choose__quantity d-flex align-items-center">
              <button
                type="button"
                class="btn btn-secondary btn-lg"
                (click)="changeQuantity(-1)"
              >
                -
              </button>
              <p id="quantity">{{ productDetail.quantity }}</p>
              <button
                type="button"
                class="btn btn-secondary btn-lg"
                (click)="changeQuantity(1)"
              >
                +
              </button>
            </div>
          </div>

          <div class="buy__product d-flex justify-content-between">
            <button
              type="button"
              class="btn btn-secondary btn-cart"
              style="border: 1px solid var(--bs-primary)"
            >
              Add to cart
            </button>

            <button type="button" class="btn btn-primary">Buy now</button>
          </div>
        </div>

        <div class="policy">
          <p>Fast & Free shipping.</p>
          <p>You have 7 days to return. <a href="policy">Return policy</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="section__down d-flex flex-column">
    <div class="product__describe">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Description
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is
              shown by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section__reviews">
      <div class="rating d-flex justify-content-between">
        <div class="d-flex flex-row">
          <div class="score">
            <p>Rating: <span>5.0/5.0</span></p>
          </div>
          <div class="star">
            <i
              class="bi bi-star-fill"
              id="starYellow"
              *ngFor="let i of [1, 2, 3, 4, 5]"
            ></i>
          </div>
        </div>

        <div class="number__reviews justify-content-end">
          <p>5 reviews</p>
        </div>
      </div>
      <div class="comments">
        <app-review-detail
          *ngFor="let item of [1, 2, 3, 4, 5]"
        ></app-review-detail>
      </div>
    </div>
  </div>
</div>
