<div class="container-review">
  <div class="rating__item d-flex flex-row">
    <div class="star">
      <i
        *ngFor="let i of ratingStar"
        class="bi bi-star-fill"
        id="starYellow"
      ></i>

      <i
        *ngFor="let i of ratingStarGray"
        class="bi bi-star-fill"
        id="starGray"
      ></i>
    </div>
  </div>

  <div>
    <p class="title"><strong>Tác giả</strong> - Thời gian</p>
    <p class="comment">
      Great value for money. Really good fit and looks expensive.reat value for
      money. Really good fit and looks expensive.reat value for money. Really
      good fit and looks expensive.reat value for money. Really good fit and
      looks expensive.reat value for money. Really good fit and looks
      expensive.reat value for money. Really good fit and looks expensive.
    </p>
  </div>
</div>
