<div class="container-product-basket d-flex justify-content-between">
  <div class="d-flex">
    <div class="img">
      <img
        src=""
        alt=""
        [src]="'../assets/img/' + productBasket.imgURL"
        (click)="redirectToProductDetail()"
      />
    </div>

    <div class="product-item">
      <h4 class="title" (click)="redirectToProductDetail()">
        {{ productBasket.name }}
      </h4>

      <div class="d-flex choose__size__color">
        <p class="size">Size: {{ productBasket.size }}</p>
        <p class="color">Color: {{ productBasket.color }}</p>
      </div>

      <div class="choose__quantity d-flex align-items-center">
        <button
          type="button"
          class="btn btn-light btn-lg"
          (click)="changeQuantity(-1)"
        >
          -
        </button>
        <p id="quantity">{{ productBasket.quantity }}</p>
        <button
          type="button"
          class="btn btn-light btn-lg"
          (click)="changeQuantity(1)"
        >
          +
        </button>
      </div>

      <h5 class="price">${{ productBasket.price }}.00</h5>
    </div>
  </div>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="removeFromBasket(productBasket.id)"
  ></button>
</div>
