<div class="container-product-basket d-flex">
  <div class="img">
    <img src="" alt="" [src]="mainImg" />
  </div>

  <div class="product-item">
    <h4 class="title">Antique Rogue Slim Fit Black Velvet</h4>

    <div class="d-flex choose__size__color">
      <p class="size">Size: {{ size }}</p>
      <p class="color">Color: {{ color }}</p>
    </div>

    <div class="choose__quantity d-flex align-items-center">
      <button
        type="button"
        class="btn btn-light btn-lg"
        (click)="changeQuantity(-1)"
      >
        -
      </button>
      <p id="quantity">{{ productDetail.quantity }}</p>
      <button
        type="button"
        class="btn btn-light btn-lg"
        (click)="changeQuantity(1)"
      >
        +
      </button>
    </div>

    <h5 class="price">{{ price }}</h5>
  </div>
</div>
