<div class="container-basket">
  <div class="basket__cover">
    <div class="cover__img">
      <img src="../../assets/img/cover.png" alt="" />
    </div>
    <h1 class="cover__title uppercase">my basket</h1>
  </div>

  <div
    class="container content-basket d-flex flex-grow-1 justify-content-between flex-row"
  >
    <div class="left-content flex-grow-1">
      <p>... items</p>
      <app-product-basket
        *ngFor="let item of [1, 2, 3, 4, 5]"
      ></app-product-basket>
    </div>

    <div class="right-content">
      <div class="bill__cover">
        <div>
          <p>Total: .. items</p>
          <p>$600</p>
        </div>

        <div>
          <p>Standard delivery:</p>
          <p>Free</p>
        </div>

        <hr />
        <div>
          <p><strong>Total to pay:</strong></p>
          <p>$6000</p>
        </div>
      </div>

      <button type="button" class="btn btn-primary btn-pay">PAY</button>
    </div>
  </div>
</div>
