<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer> -->

<!-- <app-policy></app-policy> -->
<!-- <app-basket></app-basket> -->
<!-- <app-product-basket></app-product-basket> -->

<!-- <app-basket></app-basket> -->

<!-- <app-header></app-header> -->

<!-- <app-header></app-header>
<app-banner></app-banner>
<app-home-page></app-home-page>
<app-footer></app-footer> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-payment></app-payment> -->
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->

<app-reset-password></app-reset-password>

<!-- <app-forgot-password></app-forgot-password> -->
<app-account-info></app-account-info>
<app-forgot-password></app-forgot-password>

