<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer> -->

<!-- <app-policy></app-policy> -->
<!-- <app-basket></app-basket> -->
<!-- <app-product-basket></app-product-basket> -->

<!-- <app-basket></app-basket> -->
<!-- <app-header></app-header>
<app-banner></app-banner>
<app-home-page></app-home-page>
<app-footer></app-footer> -->

<!-- <app-shop></app-shop> -->
<!-- <app-product-detail></app-product-detail> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-forgot-password></app-forgot-password> -->
<app-account-info></app-account-info>
