<div class="container">
  <form action="#" class="row g-3" id="form_infor" dmethod="POST">
    <h1 class="form-header">Welcome!</h1>
    <p class="form-biglable">YOUR INFORMATION</p>
    <div class="col-md-6">
      <label for="inputFirstName" class="form-label"
        >First Name <span>*</span></label
      >
      <input type="text" class="form-control" id="inputFirstName" />
    </div>
    <div class="col-md-6">
      <label for="inputLastName" class="form-label"
        >Last Name <span>*</span></label
      >
      <input type="text" class="form-control" id="inputLastName" />
    </div>
    <div class="col-md-4">
      <label for="inputMobileNumber" class="form-label"
        >Mobile Number <span>*</span></label
      >
      <input type="text" class="form-control" id="inputMobileNumber" />
    </div>
    <div class="col-md-8">
      <label for="inputEmail" class="form-label">Email <span>*</span></label>
      <input type="email" class="form-control" id="inputEmail" />
    </div>
    <p class="form-biglable">YOUR ADDRESS</p>
    <div class="col-12">
      <input type="text" class="form-control" id="inputAddress" />
    </div>
    <div class="form-button">
      <button type="submit" class="btn-save">SAVE</button>
    </div>
  </form>
</div>
