<div class="container">
  <h2 class="text-center">SHOP</h2>
  <div class="body__shop d-flex">
    <div class="left__filter d-flex flex-column">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <!--Suit-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseOne"
            >
              SUIT
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingOne"
            [ngClass]="{ show: checkSize }"
          >
            <div class="accordion-body">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked-Suiting"
                />
                <label class="form-check-label" for="flexCheckChecked-Suiting">
                  Suiting
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked-Blazers"
                />
                <label class="form-check-label" for="flexCheckChecked-Blazers">
                  Blazers
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked-Shirts"
                />
                <label class="form-check-label" for="flexCheckChecked-Shirts">
                  Shirts
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked-Trousers"
                />
                <label class="form-check-label" for="flexCheckChecked-Trousers">
                  Trousers
                </label>
              </div>
            </div>
          </div>
        </div>

        <!--Accessories-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              ACCESSORIES
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo"
            [ngClass]="{ show: checkSize }"
          >
            <div class="accordion-body">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault-Shoes"
                />
                <label class="form-check-label" for="flexCheckDefault-Shoes">
                  Shoes
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault-Ties"
                />
                <label class="form-check-label" for="flexCheckDefault-Ties">
                  Ties
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault-Belts"
                />
                <label class="form-check-label" for="flexCheckDefault-Belts">
                  Belts
                </label>
              </div>
            </div>
          </div>
        </div>

        <!--Size-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseThree"
            >
              SIZE
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree"
            [ngClass]="{ show: checkSize }"
          >
            <div class="accordion-body d-flex flex-wrap justify-content-evenly">
              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-S"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-S"
                  >S</label
                >
              </div>

              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-M"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-M"
                  >M</label
                >
              </div>

              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-L"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-L"
                  >L</label
                >
              </div>

              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-XL"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-XL"
                  >XL</label
                >
              </div>

              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-XXL"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-XXL"
                  >XXL</label
                >
              </div>

              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-XXXL"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-XXXL"
                  >XXXL</label
                >
              </div>
            </div>
            <hr />
            <div class="accordion-body d-flex flex-wrap justify-content-evenly">
              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-6"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-6"
                  >6</label
                >
              </div>

              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-7"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-7"
                  >7</label
                >
              </div>

              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-8"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-8"
                  >8</label
                >
              </div>

              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-9"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-9"
                  >9</label
                >
              </div>

              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-10"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-10"
                  >10</label
                >
              </div>

              <div>
                <input
                  type="checkbox"
                  class="btn-check"
                  id="btn-check-2-outlined-11"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-primary"
                  for="btn-check-2-outlined-11"
                  >11</label
                >
              </div>
            </div>
          </div>
        </div>

        <!--Colors-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFour"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseFour"
            >
              COLORS
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour"
            [ngClass]="{ show: checkSize }"
          >
            <div
              class="accordion-body all__colors d-flex flex-wrap justify-content-between"
            >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked-red"
                />
                <label class="form-check-label" for="flexCheckChecked-red">
                  Red
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked-cream"
                />
                <label class="form-check-label" for="flexCheckChecked-cream">
                  Cream
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked-green"
                />
                <label class="form-check-label" for="flexCheckChecked-green">
                  Green
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked-brown"
                />
                <label class="form-check-label" for="flexCheckChecked-brown">
                  Brown
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked-gray"
                />
                <label class="form-check-label" for="flexCheckChecked-gray">
                  Gray
                </label>
              </div>
            </div>
          </div>
        </div>

        <!--Price-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseFive"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapseFive"
            >
              PRICE
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFive"
            [ngClass]="{ show: checkSize }"
          >
            <div class="accordion-body">
              <div class="d-flex justify-content-between w-100">
                <label id="" style="width: 30px">$0</label>
                <input
                  type="range"
                  class="form-range"
                  min="0"
                  max="500"
                  id="customRange1"
                  value="500"
                  oninput="rangeValue.innerText = '$' + this.value"
                  style="padding: 0; width: 65%"
                  data-slider-value="[0,500]"
                />

                <label id="rangeValue" style="width: 30px">$500</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex all__tags flex-wrap flex-row">
        <!--Tag mẫu-->
        <div class="toast show">
          <div class="d-flex">
            <div
              class="toast-body d-flex justify-content-between"
              style="width: 100%"
            >
              Suiting
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
              ></button>
            </div>
          </div>
        </div>

        <div class="toast show">
          <div class="d-flex">
            <div
              class="toast-body d-flex justify-content-between"
              style="width: 100%"
            >
              Suiting
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
              ></button>
            </div>
          </div>
        </div>

        <div class="toast show">
          <div class="d-flex">
            <div
              class="toast-body d-flex justify-content-between"
              style="width: 100%"
            >
              Suiting
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
              ></button>
            </div>
          </div>
        </div>

        <div class="toast show">
          <div class="d-flex">
            <div
              class="toast-body d-flex justify-content-between"
              style="width: 100%"
            >
              Suiting
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
              ></button>
            </div>
          </div>
        </div>

        <div class="toast show">
          <div class="d-flex">
            <div
              class="toast-body d-flex justify-content-between"
              style="width: 100%"
            >
              Suiting
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
              ></button>
            </div>
          </div>
        </div>
        <div class="toast show">
          <div class="d-flex">
            <div
              class="toast-body d-flex justify-content-between"
              style="width: 100%"
            >
              Suiting
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right__all__items flex-grow-1">
      <div class="d-flex header__right__content justify-content-end">
        <div class="dropdown sort__item text-end d-flex">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sort by
          </button>

          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" type="button">My favorite</button>
            </li>
            <li>
              <button class="dropdown-item" type="button">
                Price Low to High
              </button>
            </li>
            <li>
              <button class="dropdown-item" type="button">
                Price High to Low
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="list__item d-flex flex-wrap justify-content-between">
        <app-product-item
          *ngFor="
            let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
          "
        ></app-product-item>

        <!-- <app-product-item *ngFor="let item of listItems"></app-product-item> -->
      </div>
    </div>
  </div>
  <button (click)="loadListItems()">Load Data</button>
</div>
