<div class="container__blog">
  <nav aria-label="breadcrumb" style="padding: 12px 0" class="bg-secondary">
    <ol class="breadcrumb" style="margin-left: 85px; margin-bottom: 0">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="blog">Blog</li>
    </ol>
  </nav>

  <div class="blog__cover">
    <div class="cover__img">
      <img src="../../assets/img/cover.png" alt="" />
    </div>
    <h1 class="cover__title uppercase">our blog</h1>
  </div>

  <div class="blog__content">
    <div class="content__item" (click)="redirectToBlogDetail()">
      <div class="item__img">
        <img src="../../assets/img/blog__img1.png" alt="" />
      </div>
      <div class="item__date">
        <div class="date">Dec 26, 2022</div>
      </div>
      <div class="item__title">
        <h5 class="title">Best men’s suit brands for quality and style</h5>
      </div>
    </div>
    <div class="content__item" (click)="redirectToBlogDetail()">
      <div class="item__img">
        <img src="../../assets/img/blog__img2.png" alt="" />
      </div>
      <div class="item__date">
        <div class="date">Dec 26, 2022</div>
      </div>
      <div class="item__title">
        <h5 class="title">Best men’s suit brands for quality and style</h5>
      </div>
    </div>
    <div class="content__item" (click)="redirectToBlogDetail()">
      <div class="item__img">
        <img src="../../assets/img/blog__img3.png" alt="" />
      </div>
      <div class="item__date">
        <div class="date">Dec 26, 2022</div>
      </div>
      <div class="item__title">
        <h5 class="title">Best men’s suit brands for quality and style</h5>
      </div>
    </div>
    <div class="content__item" (click)="redirectToBlogDetail()">
      <div class="item__img">
        <img src="../../assets/img/blog__img4.png" alt="" />
      </div>
      <div class="item__date">
        <div class="date">Dec 26, 2022</div>
      </div>
      <div class="item__title">
        <h5 class="title">Best men’s suit brands for quality and style</h5>
      </div>
    </div>
    <div class="content__item" (click)="redirectToBlogDetail()">
      <div class="item__img">
        <img src="../../assets/img/blog__img5.png" alt="" />
      </div>
      <div class="item__date">
        <div class="date">Dec 26, 2022</div>
      </div>
      <div class="item__title">
        <h5 class="title">Best men’s suit brands for quality and style</h5>
      </div>
    </div>
    <div class="content__item" (click)="redirectToBlogDetail()">
      <div class="item__img">
        <img src="../../assets/img/blog__img6.png" alt="" />
      </div>
      <div class="item__date">
        <div class="date">Dec 26, 2022</div>
      </div>
      <div class="item__title">
        <h5 class="title">Best men’s suit brands for quality and style</h5>
      </div>
    </div>
  </div>
</div>
